
For the final project I will design a website that will a platform to show my green energy ideas. 

This site will attrackt eco-aware entreprinures, invistors and people who wish to take part in the green energy revulotion. 

Find three sites that reflect what you'd like to aspire to or emulate:
1. http://ikuhshuki.wixsite.com/shuki
2. http://www.theenergycollective.com/
3. https://www.greenmatch.co.uk/blog/2017/03/best-green-energy-websites
